<app-header class="fixed-top" (showModal)="showModalDialog()"></app-header>
<app-medicine-carousel></app-medicine-carousel>
<app-service-list></app-service-list>
<app-footer class="fixed-bottom"></app-footer>
<p-dialog header="Login" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <div class="sizes d-flex justify-content-around">
        <input id="float-input" type="email" class="p-inputtext-lg" placeholder="Email" pInputText [(ngModel)]="email"
            required />
        <div class="valid-feedback">
            Looks good!
        </div>
        <input id=" float-input" type="password" class="p-inputtext-lg" placeholder="Password" pInputText
            [(ngModel)]="password" />
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [routerLink]="[goToPage]" (click)="logingIn()" label="Login"
            styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>