<p-carousel [value]="medicine" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header" class="row g-0">
        <h5 class="col-12 text-center p-3">Medicine Samples</h5>
    </ng-template>
    <ng-template let-medicine pTemplate="item">
        <div class="medicine-item">
            <div class="medicine-item-content">
                <div class="mb-3">
                    <img style="width: 100px; height: 100px; border-radius: 25px;" [src]="src+medicine.image"
                        *ngIf="medicine.image; else defaultImg" class="shadow-4" width="70" height="70" />
                    <ng-template #defaultImg>
                        <img style="width: 100px; height: 100px; border-radius: 25px;" [src]="defaultImgSrc"
                            class="shadow-4" width="70" height="70" />
                    </ng-template>
                </div>
                <div>
                    <h4 class="mb-1">{{medicine.name}}</h4>
                    <h6 class="mt-0 mb-3">{{medicine.company}}</h6>
                    <span [class]="'product-badge status-'+medicine.quantity">{{medicine.quantity}}</span>
                    <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search">
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>