<!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted g-0">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="pi pi-facebook"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="pi pi-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="pi pi-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="pi pi-instagram"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5 g-0">
            <!-- Grid row -->
            <div class="row g-0 mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        CMS Clinic Management System
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Our Doctors
                    </h6>
                    <p *ngFor="let doctor of doctors">
                        <a href="#!" class="text-reset">{{doctor.name}}</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Our Branches
                    </h6>
                    <p *ngFor="let branch of branches">
                        <a href="#!" class="text-reset">{{branch.name}} at {{branch.location}}</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="pi pi-home"></i> Cairo, Eldokki 10012, EG</p>
                    <p>
                        <i class="pi pi-envelope"></i>
                        info@example.com
                    </p>
                    <p><i class="pi pi-phone"></i> + 01 234 567 88</p>
                    <p><i class="pi pi-phone"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold"
            href="https://www.google.com/search?q=basbousa&sxsrf=APq-WBtpi-osSOQfdUb617EYBoa8_04XZg:1647890597590&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjIt8rt9tf2AhULrxoKHQgRC34Q_AUoAXoECAEQAw&biw=1920&bih=929&dpr=1">Basbosa
            Time</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->